@using EntityLayer.Concrete
@model List<Subcategory>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css" rel="stylesheet" />

<a href="/Subcategory/Add" class="btn btn-success">Add New Subcategory</a>

<table class="table table-bordered">
    <tr>
        <th>Subcategory ID</th>
        <th>Subcategory Name</th>
        <th>Subcategory Status</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Subcategory_id</td>
            <td>@item.Subcategory_name</td>
            <td>@item.Subcategory_status</td>
            <td><a href="/Subcategory/Delete/@item.Subcategory_id" class="btn btn-danger">Delete</a> </td>
            <td><a href="/Subcategory/Edit/@item.Subcategory_id" class="btn btn-warning">Edit</a> </td>
        </tr>
    }
</table>
