@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css" rel="stylesheet" />

<a href="/Category/Add" class="btn btn-success">Add New Category</a>


<table class="table table-bordered" >
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Category Status</th>
        <th>Details</th>
        <th>Delete</th>
        <th>edit</th>    
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Category_id</td>
            <td>@item.CategoryName</td>
            <td>@item.Category_status</td>
            <td><a href="#" class="btn btn-warning">Details</a> </td>
            <td><a href="/Category/Delete/@item.Category_id" class="btn btn-danger">Delete</a> </td>
            <td><a href="/Category/edit/@item.Category_id" class="btn btn-warning">Edit</a> </td>
        </tr>
    }
</table>

