@using EntityLayer.Concrete;    
@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>

    <head>
    <title>Category</title>
    </head>
    <body>  
        <h1>asasd</h1>

    </body>
</html>



